@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

.popup {
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1;
  font-family: "Roboto";
  font-weight: lighter;
}

@media only screen and (min-width: 768px) {
  .popup {
    width: 33.3%;
    position: absolute;
    top: 12.5%;
    left: 33.3%;
    height: 110%;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: white;
    color: black;
  }
}

.row {
  width: 100%;
  margin-left: 3%;
}

h4, h5 {
  margin-left: 3%;
}

.tile {
  width: 30px;
  height: 30px;
  font-size: x-large;
  float: left;
  border: 1px solid white;
  margin: 4px 4px 4px 0;
  border-radius: 5px;
  text-align: center;
  font-family: "Arimo";
  text-transform: uppercase;
  color: white;
}

#tile1, #tile2, #tile5 {
  background-color: #3A3A3C;
}

#tile3 {
  background-color: green;
}

#tile4, #tile6 {
  background-color: #B59F3B;
}
