@media only screen and (min-width: 768px) {
.Keyboard {
  position: relative;
  width: 520px;
  margin-top: 260px;
  margin-left: 29.3%;
}
}

@media only screen and (max-width: 768px) {
  .Keyboard {
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-top: 260px;
    margin-right: auto;
  }
}

.keyRow {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
