@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

@media screen and (min-width: 768px) {
.Keytile {
  width: 45px;
  height: 45px;
  font-size: 37.5px;
  float: left;
  border: 1px solid white;
  margin: 4px 4px 4px 0;
  border-radius: 5px;
  text-align: center;
  font-family: "Arimo";
  text-transform: uppercase;
  color: white;
}
}

@media screen and (max-width: 768px) {
  .Keytile {
    width: 30px;
    height: 30px;
    font-size: 25px;
    float: left;
    border: 1px solid white;
    margin: 4px 4px 4px 0;
    border-radius: 5px;
    text-align: center;
    font-family: "Arimo";
    text-transform: uppercase;
    color: white;
  }
}
